# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ================================
# Virtual Environments
# ================================
#.venv/
venv/
env/

# ================================
# PyTest / Test Artifacts
# ================================
.pytest_cache/
.coverage
htmlcov/

# ================================
# Allure Reports
# ================================
#allure-results/
allure-report/

# ================================
# Logs & Temp Files
# ================================
*.log
*.tmp

# ================================
# IDE (PyCharm / IntelliJ)
# ================================
.idea/
*.iml

# ================================
# OS Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Environment variables
# ================================
#.env
